<template>
  <div id="app">

       <div class="main-content">
            <div class="container pt-10">
                <div class="row mt-5">
                    <div class="col-10 col-sm-10 col-lg-6 pb-3">
                        <h3>Borrowed and Returned books</h3>
                        <canvas id="barchart" style= "width: 180px; height: 100px;"></canvas>
            
                    </div>
                    <div class="col-10 col-sm-10 col-lg-6 pb-3 ">
                        <h4>Popular book Genre</h4>
                        <canvas id="piechart" style= "width: 180px; height: 100px;"></canvas>
                       
                    </div>
                </div>
            </div>
        </div>
  </div>
</template>

<script>
import Chart from 'chart.js'

export default {

     mounted: function(){
        
  var ctx1 = document.getElementById('barchart').getContext('2d');
  new Chart(ctx1, {
    type: 'bar',
    data: {
        labels: ['JAN', 'FEB', 'MARCH', 'APRIL'],
        datasets: [{
            label: ['Borrowed Books'],
            data: [10, 6, 7, 5],
            borderColor:"black",
            backgroundColor: [
                '#33ccff',
                '#33ccff',
                '#33ccff',
                '#33ccff'
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
  });

    var ctx2 = document.getElementById('piechart').getContext('2d');
    new Chart(ctx2, {
        type: 'pie',
        data: {
        labels: ['Biology', 'Geography', 'History',],
        datasets: [{
            label: '# of Votes',
            data: [20, 40, 40,],
            borderColor:"black",
            backgroundColor: [
                'red',
                'yellow',
                'white',
                
            ],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
  }
}
</script>

<style>
 @import '../../assets/css/style.css';
</style>