*{
    margin: 0;
    padding: 0 ;
}
html {
    min-height: 100%;
    min-width: 100%;
}
body{
    position: inherit;
    background: linear-gradient(to left, #33ccff 0%,rgb(240, 141, 28), #ee2087 70%);
}
body .h1{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;  
    position: inherit;
    background: transparent;
}
.wrapper .topbar {
    position: fixed;
    width: 100%;
    height:50px;
    background: transparent;
    box-shadow: 0px 3px 4px rgba(7, 0, 0, 0.342);
}
.wrapper .topbar .logout {
    position: fixed;
    height: 30px;
    font-size: 12px;   
    padding: 5px;
    background: transparent;
    text-transform: uppercase;
    border-radius: 10px;
}
.wrapper .topbar .logout:hover{
 background: #9888e9;
}
.wrapper .topbar .logout .fas {
    color: rgb(255, 255, 255);
    width: 15px; 
}
.wrapper .topbar .container {
    position: absolute;
    top: 10px;
    left: 1250px;
}
.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background:rgb(0, 0, 0);
    padding: 30px 0;
    border-right: 1px solid rgb(0, 0, 0);
}
.wrapper .sidebar h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}
.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(252, 252, 252, 0.178);
    border-top: 1px solid rgba(255, 255, 255, 0.164);
}
.wrapper .sidebar ul li a {
    color: #ffffff;
    display: block;
}
.wrapper .sidebar ul li a .fas {
    color: rgb(255, 255, 255);
    width: 25px;  
}
.wrapper .sidebar ul li:hover {
    background: #594f8d;
}
.wrapper .sidebar ul li:hover a {
    color: #fff;
}
.main-content {
    margin-left: 265px;
    padding: 0px 10px;
    margin-top: 6rem;
}
.wrapper table{
    position: fixed;
    width: 1000px;
    margin-left: 280px;
    margin-right: 150px;
    margin-top: 150px;
    margin-bottom: auto;
    text-align: center;
    background: #ffffff;
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
}
th {
    background-color: #0719B9;
    color: white;
}
.wrapper table .edit ,.delete {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.wrapper table .save {
    background: rgb(10, 218, 255);
    width: 60px;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: Impact;
}
.wrapper .add{
    padding: 2px;
    text-align: center;
    color: white;
    background: black;
    border-radius: 4px;
    position: fixed;
    margin-top: 100px;
    margin-left: 250px;
    height: 30px;
    width: 100px;
}
.wrapper .search{
    padding: 2px;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border-radius: 4px;
    position: fixed;
    margin-top: 100px;
    margin-left: 780px;
    height: 30px;
    width: 500px;
}