<template>
    <div id="app">
        <div class="sidebar">
            <h2>BOOKS LIBRARY</h2>
            <ul>
                <router-link to="/">
                <li><a href="Dashboard.html"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
                 </router-link>
        
                <router-link to="patron">
                    <li><a href="PatronManagement.html"><i class="fas fa-tasks"></i>Patron Mangement</a></li>
                </router-link>

                <router-link to="book">
                    <li><a href="BookManagement.html"><i class="fas fa-book"></i>Book Management</a></li>
                </router-link>

                <router-link to="setting">
                    <li><a href="Setting.html"><i class="fas fa-sliders-h"></i>Setting</a></li>
                </router-link>
            </ul>
        </div>



        <Topnav></Topnav>

         <router-view/>

        </div>

</template>

<script>
    import Topnav from '../navigations/Topnav.vue'
    export default {
        name: 'Sidenav',

        components: {Topnav}
 
    }
</script>

<style scoped>
    @import '../../assets/css/style.css';
</style>