<template>
  <div class="topbar">
      <div class="container">
                    <button class = "logout"><i class="fas fa-user"></i>Logout</button>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Topnav'
}
</script>

<style scoped>
    @import '../../assets/css/style.css';
</style>