*{
    margin: 0;
    padding: 0;
}
body {
    text-align: center;
}
.wrapper{
    width : 1170px;
    margin: 0 auto;
}
header{
    background: rgb(37, 34, 34);
    width: 100%;
    top: 0px;
    position: fixed;
}
.logo{
    width: 30%;
    float: left;
    line-height: 50px;
}
.logo a{
    text-decoration: none;
    font-size: 25px;
    font-family: bignoodletitling;
    color: #ffffff;
    letter-spacing: 5px;
}
nav{
    float: right;
    line-height: 50px;
}
nav a{
    text-decoration: none;
    font-family: bignoodletitling;
    letter-spacing: 4px;
    font-size: 15px;
    margin: 100 40px;
    color: #ffffff;
}

.banner-area{
    width: 100%;
    height: 1000px;
    display: flex;
    position: fixed;
    top: 50px;
    background: linear-gradient(-45deg, #554aee, #5c1763, #793cc9, #171124);
}
.container{
    position: relative;
    width: 1000px;
    height: 320px;
    top: 60px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.container .box {
    position: relative;
    width: 300px;
    height: 300px;
    background: #ffff00;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box .imgBox {
    position: relative;
    overflow: hidden;
}
.container .box .imgBox img {
    width: 100%;
    transition: transform 2s;
    height: 100%;
}
.container .box:hover .imgBox img {
    transform: scale(1.2);
}
.container .box .details {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box:hover .details{
    transform: scaleY(1);
}
.container .box .details .content {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #ffffff;
}
.container .box .details .content h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.container .box .details .content p {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.container .box2 {
    position: relative;
    width: 300px;
    height: 300px;
    background: #ffff00;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box2 .imgBox2 {
    position: relative;
    overflow: hidden;
}
.container .box2 .imgBox2 img {
    width: 100%;
    transition: transform 2s;
    height: 100%;
}
.container .box2:hover .imgBox2 img {
    transform: scale(1.2);
}
.container .box2 .details2 {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box2:hover .details2{
    transform: scaleY(1);
}
.container .box2 .details2 .content2 {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #ffffff;
}
.container .box2 .details2 .content2 h2 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.container .box2 .details2 .content2 p2 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.container .box3 {
    position: relative;
    width: 300px;
    height: 300px;
    background: #ffff00;
    margin: 10px;
    box-sizing: border-box;
    display: inline-block;
}
.container .box3 .imgBox3 {
    position: relative;
    overflow: hidden;
}
.container .box3 .imgBox3 img {
    width: 100%;
    transition: transform 2s;
    height: 100%;
}
.container .box3:hover .imgBox3 img {
    transform: scale(1.2);
}
.container .box3 .details3 {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container .box3:hover .details3{
    transform: scaleY(1);
}
.container .box3 .details3 .content3 {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #ffffff;
}
.container .box3 .details3 .content3 h3 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.container .box3 .details3 .content3 p3 {
    margin: 10px 0 0;
    padding: 0;
    font-size: 20px;
    color: #ffff00;
}
.banner-area h1{
    padding-top: 8%;
    font-size: 70px;
    font-family: poppins;
    text-transform: uppercase;
    color: #a59494;
}


.content-area {
    color: #fdfdfd;
    width: 100%;
    position: relative;
    top: 650px;
    background: #3436346b;
    height: 250px;
}
.content-area h2{
    font-family: bignoodletitling;
    letter-spacing: 5px;
    padding-top: 20px;
    font-size: 30px;
    margin: 0;
}
.content-area p {

    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    padding-top: 70px;
    font-size: 15px;
    margin: 0;
}

    
    